<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li><%= link_to "Superhracky.cz (1)", "#" %></li>
			<li><%= link_to "vybaveni24.cz", "#" %></li>
			<li><%= link_to "zamecnik-praha.net", "#" %></li>
			<li><%= link_to "Zalozit novou podporu", "#" %></li>
		</ul>
	</div>
</div>