<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<% current_users_desks.each do |d| %>
				<li><%= link_to d.name, desk_url(d) %></li>
			<% end %>
			<li><%= link_to "Zalozit novou podporu", new_user_desk_url(current_user.id) %></li>
		</ul>
	</div>
</div>