<div class="header">
	<ul class="nav nav-pills pull-right">
		<li><%= link_to "Domů", root_path %></li>
		<li><%= link_to "O Care247", about_path %></li>
		<li><%= link_to "Ceník", pricing_path %></li>
		<li><%= link_to "Přihlásit se", new_session_url %></strong>
	</ul>
	<h3 class="muted">Care247</h3>

</div>